
<ion-content [fullscreen]="true">
  <div class="container-slider">
   <div class="all-divs-wrapper">
  <div class="first-section">
   <div class="top-buttons-div">
     <div class="icon-box" (click)="goBack()">
       <ion-icon name="chevron-back-outline"></ion-icon>
     </div>
     <div class="icon-box">
       <h3>forget Passward</h3>
     </div>
     <div class="icon-box">
       <ion-icon name="close-outline"></ion-icon>
     </div>
   </div>
   <div class="img-container-div">
     <img src="../../assets/undraw_Fingerprint_re_uf3f-removebg-preview.png" alt="">
   </div>
  </div>
  <div class="second-section">
 <div class="header-content">
   <h2>Passward Recovery!</h2>
   <p>Lost your password? enter your email to get verification code for passward recovery</p>
 </div>
 <div class="social-signins">

 
   <div class="login-form-container">
     <form class="login-form">
       <div class="input-container">
         <label class=form-label>Email Address</label>
         <div class="form-input">
           <input type="email"  placeholder="Enter email">
           <img src="../../assets/validinput.png" alt="">
         </div>
       </div>

 
       <div class="button-container">
         <button class="button-support" routerLink="/send-code-again">send</button>
       </div>
      
     </form>
    </div>
 </div>
  </div>
  <div class="third-section">

  </div>
 
 </div>
  </div>
 </ion-content>
