
<ion-content [fullscreen]="true">
 <div class="container-slider">
  <div class="all-divs-wrapper">
 <div class="first-section">
  <div class="top-buttons-div">
    <div class="icon-box">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </div>
    <div class="icon-box">
      <h3>Login</h3>
    </div>
    <div class="icon-box">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>
  <div class="img-container-div">
    <img src="../../assets/undraw_Empty_street_re_atjq-removebg-preview.png" alt="">
  </div>
 </div>
 <div class="second-section">
<div class="header-content">
  <h2>Wellcome Back!</h2>
  <p>please login with your credentials</p>
</div>
<div class="social-signins">
  <div class="buttons">
    <div class="icon"><ion-icon name="logo-google"></ion-icon><span>Google</span></div>
    <div class="icon active"><ion-icon name="logo-facebook"></ion-icon><span>Facebook</span></div>
   
  </div>
  <div class="signin-text">or login with</div>

  <div class="login-form-container">
    <form class="login-form">
      <div class="input-container">
        <label class=form-label>Email Address</label>
        <div class="form-input">
          <input type="email"  placeholder="Enter email">
          <img src="../../assets/validinput.png" alt="">
        </div>
      </div>
      <div class="input-container">
        <label class=form-label>Passward</label>
        <div class="form-input">
          <input type="email"  placeholder="Enter passward">
          <ion-icon name="eye"></ion-icon>
        </div>
        <div class="forget-pass-button">forget passward</div>
      </div>

      <div class="button-container">
        <button class="button-support">Login</button>
      </div>

      <div class="already-acount-message">
        if you have no acount yet <span routerLink="/signup">Singup</span>
      </div>
     
    </form>
   </div>
</div>
 </div>

</div>
 </div>
</ion-content>
