

<ion-content [fullscreen]="true">
  <div class="container-slider">
   <div class="all-divs-wrapper">
  <div class="first-section">
   <div class="top-buttons-div">
     <div class="icon-box">
       <ion-icon name="chevron-back-outline"></ion-icon>
     </div>
     <div class="icon-box">
       <h3>singup</h3>
     </div>
     <div class="icon-box">
       <ion-icon name="close-outline"></ion-icon>
     </div>
   </div>
   <div class="img-container-div">
     <img src="../../assets/undraw_Empty_street_re_atjq-removebg-preview.png" alt="">
   </div>
  </div>
  <div class="second-section">
 <div class="header-content">
   <h2>Hello!</h2>
   <p>please login with your credentials</p>
 </div>
 <div class="social-signins">

 
   <div class="login-form-container">
     <form class="login-form">
      <div class="input-container">
        <label class=form-label>Name</label>
        <div class="form-input">
          <input type="email"  placeholder="Enter name">
        </div>
      </div>
       <div class="input-container">
         <label class=form-label>Email Address</label>
         <div class="form-input">
           <input type="email"  placeholder="Enter email">
           <img src="../../assets/validinput.png" alt="">
         </div>
       </div>
       <div class="input-container">
         <label class=form-label>Passward</label>
         <div class="form-input">
           <input type="email"  placeholder="Enter passward">
           <ion-icon name="eye"></ion-icon>
         </div>
         
       </div>
 
       <div class="button-container">
         <button class="button-support"  routerLink="/login">Signup</button>
       </div>
 
       <div class="already-acount-message">
         if you already have an account <span  routerLink="/login">login</span>
       </div>
      
     </form>
    </div>
 </div>
  </div>
 
 </div>
  </div>
 </ion-content>
 