ion-content {
    width: 100vw !important;
    min-height: 100vh !important;
    --background: #f5f5f5;
    margin: 0;
    padding: 0;
    border-radius: 50px;
  
  }
  .container-slider{
    background-color:#f5f5f5!important;
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  
    
  }
  .all-divs-wrapper{
    background-color:#f5f5f5!important;
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
  }
  
  .first-section{
  
    border-bottom-left-radius: 60px;
    background-color: #d6d9dc;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
  
  }
  .top-buttons-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
  }
  .icon-box{
    padding: 1px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5f5f60;
  
  }
  .icon-box ion-icon{
    color:  #5f5f60;
    
    font-size: 20px;
  }
  .img-container-div{
    margin-top: 3px;
    width: 100%;
    height: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
  
  .second-section{
    width: 100%;
    border-radius: 20px;
    margin: auto;
    min-height: 250px;
    background-color: #efefef;
    z-index: 3;
    margin-top: -10px;
  
  
  }
  .header-content{
    padding: 20px ;
    h2{
        color: black;
        font-size: 24px;
        font-weight: bold;
  
    }
    p{
        color: #5f5f60;
        margin-top: 5px;
    }
  }
  .social-signins{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            padding: 6px 10px;
            height: 50px;
            width: 130px;
            text-align: center;
  
            background-color: #f5f5f5;
            ion-icon{
                color: #5f5f60;
                font-size: 25px;
  
            }
            span{
                color: #5f5f60;
  
            }
      
        }
        .icon.active{
            background-color: #253890;
            ion-icon{
                color: #f5f5f5;
            }
            span{
                color: #f5f5f5;
            }
        }
  
  
    }
  }
  .signin-text{
    text-align: center;
    color: #5f5f60;
    margin-top: 5px;
  }
  
  .login-form-container{
    width: 100%;
    margin-top: 20px;
    margin-left: 40px;
  
    .login-form{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        flex-direction: column;
        .form-label{
            color: black;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .input-container{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 90%;
            padding: 10px;
  
       
            .form-input{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 3px;
                height: 50px;
                width: 100%;
                border: 1px solid #d6d9dc;
                border-radius: 30px;
                background-color: #f3f3f5;
                padding: 10px;
                input{
                    flex-basis: 80%;
                    border: none;
                    outline: none;
                    color: #253890;
                    padding: 10px 20px;
                    background-color: #f3f3f5;
                    border-radius: 30px;
                    max-width: 80%;
                }
                input::placeholder{
                    color: #5f5f60;
  
                }
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%; 
                }
                ion-icon{
                    flex-basis: 8%;
                    color: #5f5f60;
                    font-size: 30px;
                }
                ion-icon.active{
                    color: greenyellow;
  
                }
            }
        }
    }
  .forget-pass-button{
    color: #253890;
    font-size: 20px;
   text-align: right;
   width: 100%;
   
  
  }
  
  }
  
  .button-container{
    margin-top: 30px;
    padding: 10px;
    width: 90%;
    margin-bottom: 5%;
    button{
      background-color: #253890;
      color: #ffff;
      text-align: center;
      width: 100%;
      height: 50px;
      border-radius: 30px;
      font-size: 20px;
      font-weight: 700;
      border: none;
      outline: none;
  
    }
  }
  
  .already-acount-message{
  
    width: 100%;
    color: #5f5f60;
    text-align: center;
    padding-bottom: 20px;
    span{
        color: #253890;
        font-size: 19px;
        font-weight: 700;
        cursor: pointer;
  
    }
  }
  
  .third-section{
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: #253890;
    margin-top: -16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }