
<ion-content [fullscreen]="true">
  <div class="container-slider">
   <div class="all-divs-wrapper">
  <div class="first-section">
   <div class="top-buttons-div">
     <div class="icon-box">
       <ion-icon name="chevron-back-outline"></ion-icon>
     </div>
     <div class="icon-box">
       <h3>Resend code</h3>
     </div>
     <div class="icon-box">
       <ion-icon name="close-outline"></ion-icon>
     </div>
   </div>
   <div class="img-container-div">
     <img src="../../assets/undraw_Forgot_password_re_hxwm-removebg-preview.png" alt="">
   </div>
  </div>
  <div class="second-section">
 <div class="header-content">
   <h2>Forget Passward</h2>
   <p>if you don't get email yet get the code on sms or email again</p>
 </div>
 <div class="social-signins">
   
  <div class="code-send-options">
    <div class="send-option shadow">
      <div class="send-icon"><ion-icon name="mail-outline"></ion-icon></div>
      <div class="send-tex">
       <div class="selected-img"> <h3>Resend via email</h3> <img src="../../assets/validinput.png" alt=""></div>
        <p>click to resend verification code via email</p>
      </div>
    </div>

    <div class="send-option shadow">
      <div class="send-icon"><ion-icon name="phone-portrait-outline"></ion-icon></div>
      <div class="send-tex">
        <h3>Resend via SMS</h3>
        <p>click to resend verification code on mobile via sms</p>
      </div>
    </div>
  </div>
 
   <div class="login-form-container">
     <form class="login-form">
       <div class="input-container">
         <label class=form-label>Email Address</label>
         <div class="form-input">
           <input type="email"  placeholder="Enter email">
           <img src="../../assets/validinput.png" alt="">
         </div>
       </div>

 
       <div class="button-container">
         <button class="button-support" routerLink="/verification">Send again</button>
       </div>
      
     </form>
    </div>
 </div>
  </div>
  <div class="third-section">

  </div>
 
 </div>
  </div>
 </ion-content>

